@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.hero-recipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0 0px;
}
.hero-recipe h1 {
  padding-bottom: 20px;
}

.hero-recipe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  cursor: pointer;
}

.hero-image-recipe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.latest-post {
  margin-left: 0;
  margin-top: 1.8rem;
}

.latest-post h2 {
  color: #141e46;
}

.hero-h3-style {
  position: absolute;
  bottom: 0;
  background: rgba(6, 1, 1, 0.5);
  padding: 10px;
  width: fit-content;
  color: white;
}

.input-sub-style {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
}

::placeholder {
  color: black;
  opacity: 0.5;
}
.subscribe-input {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.subscribe-input:hover {
  background-color: #1a1a1a;
}
.subscribe-recipe {
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5c5b5b;
  padding: 1.25rem;
  color: white;
  border-radius: 5px;
}
.input-recipe {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.btn-cover-recipe {
  margin-left: 20px;
}

.Read-Recipe h1 {
  font-size: 3rem;
}

.Read-Recipe {
  width: 60%;
}

.text-recipe {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  color: #4d4d4d;
  margin-top: 20px;
}
.body-text {
  text-align: left;
  font-size: 16px;
  line-height: 25px;
  color: #4d4d4d;
  margin-top: 20px;
}
.Read-Recipe-Overall {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

li:active {
  color: blue;
}

.advert-recipe {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
}
.advert-recipe > div {
  margin-bottom: 50px;
}

.icon-recipe-group {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-recipe-group div {
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

.recipe-btnm {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}

.cover-recipe {
  background-color: #f2f2f2;
  width: 100%;

  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.input-recipe label {
  font-weight: 700;
}
.inner-cover-recipe h2 {
  padding: 20px;
}

.inner-cover-recipe {
  display: flex;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.create-style {
  width: 100%;
}
.sub-scribe {
  color: white;
  padding: 20px;
}
.sub-scribe p {
  font-size: 1.5rem;
}

.latest-post-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.latest-post-header p {
  color: rgb(66, 66, 255);
  font-size: 18px;
  font-weight: 600;
}
.parent-post-container {
  max-width: 320px;
  width: 100%;
  aspect-ratio: 1/0.9;
  margin-top: 10px;
  border: 2px solid #f2f2f2;
  overflow: hidden;
  margin-bottom: 0px;
  border-radius: 5px;
  transition: 200ms transform ease-in-out;
}

.overal-post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.top-img {
  max-width: 100%;
  aspect-ratio: 1/0.6;
}
.top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bottom-post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
  width: 100%;
}

.hover-hover {
  font-size: 14px;
  margin-top: 10px;
}

.post-container:hover {
  transform: scale(1.025);
}
.hover-hover:hover {
  color: #ff5b22;
}

.see-all {
  display: none;
}



::marker {
  color: #ff8f8f;
  font-size: 23px;
}
.ingre-style {
  padding: 10px 0px;
}

.overal-ingredients {
  padding: 20px;
  background-color: #f2f2f2;
}


.btn-addingredient {
  background-color: #000000;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}
.edit-delete-button {
  display: flex;
  align-items: center;
  background-color: black;
  border: none;
  gap: 5px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}


.Hamburger {
  display: none;
}

.m-ad {
  display: none;
}

.ul-layout-mobile {
  display: none;
}

.category-recipe {
  width: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-category {
  margin-top: 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.category-recipe img {
  max-width: 100px;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.latest-post-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.list-hot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.read-recipe-icon {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 5px;
}

.edit-delete-style {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}
.read-recipe-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.hot-trending {
  display: flex;
  align-items: center;
  background-color: #d0f288;
  width: 100%;
  max-height: 400px;
  height: 100%;
  overflow: hidden;
  margin: 50px 0 50px 0px;
  border-radius: 5px;
}
.hot-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.top-hot {
  width: 50%;
  height: 100%;
}
.hot-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  gap: 10px;
}

.hot-text p {
  font-size: 14px;
  color: #333333;
}
.hot-text h1:hover {
  color: #b6bbc4;
}

.list-post {
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
}

.list-left img {
  width: 100%;
  max-height: 10.3rem;
  object-fit: cover;
  object-position: center;
}

.list-left {
  margin-right: 1.5rem;
  max-height: 10.3rem;
  max-width: 248px;
  width: 40%;
}
.list-right {
  width: 60%;
}
.container-list-post {
  width: 100%;
  max-height: 15.3rem;
  overflow: hidden;
}

.list-right-up {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 8px;
  color: grey;
  text-decoration: underline;
}

.list-right-down {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
}
.list-right-down:hover {
  border-bottom: 1px solid #000;
  width: fit-content;
}

.sevenhot-recipe {
  border: 1px solid #f2f2f2;
}

.ul-layout li:hover {
  border-bottom: 1.5px solid red;
}

.time-style {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #6b240c;
  margin-top: 10px;
}

.ad-two img {
  width: 250px;
}

.category-recipe:hover {
  opacity: 0.6;
  color: red;
}
.category-recipe > p {
  font-weight: bold;
  white-space: nowrap;
}
.cover-dessert {
  width: 100%;
}

.desert-img-style {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.desert-img-box {
  position: relative;
}
.desert-img-box h1 {
  background-color: white;
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
}

.hero-image-container {
  display: flex;
  position: relative;
  cursor: pointer;
  opacity: 1;
  max-width: 290px;
  width: 100%;
  aspect-ratio: 1 / 1.5;
}
.hero-craving {
  display: flex;
  gap: 10px;
}

.explore-desert h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.hero-image-container:hover {
  opacity: 0.7;
}
.middle-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-post-tag {
  color: #fff;
  background-color: #213448;
  width: fit-content;
  font-size: 12px;
  padding: 5px;
  border-radius: 2px;
}
@media only screen and (max-width: 1024px) {
  .subscribe-recipe {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero-craving {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(12px, 4vw, 100px);
  }
  .read-recipe-image {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  .hero-image-container {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1;
  }
  .text-recipe {
    margin-top: 0px;
  }
  .hero-image-recipe {
    width: 100%;
    height: 100%;
  }

  .hot-text h1 {
    font-size: 1.2rem;
  }
  .hot-text p {
    font-size: 12px;
  }
  .hot-text {
    padding: 20px;
  }
  .hot-trending {
    height: 200px;
    margin: 20px 0 20px 0px;
  }
  .input-sub-style {
    padding: 8px;
  }
  .body-text {
    margin-top: 20px;
    line-height: 30px;
  }
  .parent-post-container {
    margin-top: 0;
    aspect-ratio: 1/1.1;
  }

  .top-img {
    aspect-ratio: 1/0.6;
  }
  .advert-recipe {
    margin-top: 50px;
    align-items: center;
    width: 100%;
  }
  .advert-recipe > div {
    margin-bottom: 50px;
  }
  .overal-ingredients {
    padding: 10px 0px;
    font-size: 12px;
  }
  .sub-scribe p {
    font-size: 20px;
  }
  .Hamburger {
    display: block;
  }
  .ul-layout-mobile {
    display: block;
  }
  .Header {
    position: relative;
  }
  .ul-layout-mobile {
    display: none;
  }

  .ul-layout-mobile.is-open {
    display: flex;
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 90px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    z-index: 999;
    transition: 0.2s;
    font-size: 20px;
    gap: 10px;
  }
.footer {
  padding: 20px;
}
  .inner-footer {
    display: none;
  }
  .M-footer {
    display: block;
  }
  .overal-post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(12px, 4vw, 50px);
    align-items: center;
    justify-content: center;
  }

  .Read-Recipe h1 {
    font-size: 2rem;
  }
  .Read-Recipe {
    padding-top: 20px;
    width: 100%;
  }
  .icon-recipe-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .main-category {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .read-recipe-icon p {
    display: none;
  }
  .read-recipe-icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Read-Recipe-Overall {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .inner-cover-recipe {
    width: 90%;
  }

  .list-right-down {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  .list-post {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .list-left img {
    height: 100px;
  }
  .overal-post-container {
  display: grid;
  grid-template-columns: 1fr; /* one column */
  gap: clamp(12px, 4vw, 50px);
  align-items: center;
  justify-content: center;
}


  .parent-post-container {
    margin-top: 0;
    aspect-ratio: 1/.65;
    max-width: 600px;
  }

  .top-img {
    aspect-ratio: 1/0.4;
  }
}

@media only screen and (max-width: 475px) {
  .hero-recipe-container {
    margin-top: 25px;
  }
    .parent-post-container {
    margin-top: 0;
    aspect-ratio: 1/.75;
    max-width: 600px;
  }
.list-left {
  margin-right:.8rem;
}
  .top-img {
    aspect-ratio: 1/0.4;
  }
  .hero-recipe {
    margin: 20px 0px 0 0px;
  }
  .list-right-down {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
  }
  .hot-text {
    padding: 10px;
  }

  #wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .inner-cover-recipe {
    width: 100%;
  }
  .hot-trending {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  .top-hot {
    width: 100%;
    height: 50%;
  }
  .hot-text {
    width: 100%;
    height: 50%;
  }
  .hot-text h1 {
    font-weight: 500;
    color: #b6bbc4;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 300px) {
    .parent-post-container {
    margin-top: 0;
    aspect-ratio: 1/.9;
    max-width: 600px;
  }

  .top-img {
    aspect-ratio: 1/0.4;
  }
}
@media only screen and (max-width: 200px) {
    .parent-post-container {
    margin-top: 0;
    aspect-ratio: 1/1.1;
    max-width: 600px;
  }

}